.Results {
	margin: 20px;
	min-height: 930px;
	flex-basis: 80%;
	box-sizing: border-box;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	text-align: center;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
	color: black;
	font-weight: bold;
	padding: 50px 10px;
	background-color: rgb(30, 28, 40);
	border-radius: 10px;
}
