.MainView {
	flex-wrap: wrap;
	align-items: center;
	width: 80%;
	overflow: hidden;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.MainView::-webkit-scrollbar {
	display: none;
}
